### Jet Brains ###
.idea/

### CMake ###
build/
cmake-build-debug/
cmake-build-release/

### Binaries ###
bin/samples
bin/tests

### Shaders ###
*.spv

### Logs ###
*.log

### Doxygen ###
html/
latex/

### Bindings ###
bindings/